<!DOCTYPE HTML>
<html land="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=3,minimum-scale=1,user-scalable=no,viewport-fit=cover">
  <link rel="stylesheet" href="../asset/css/main.css" />

  <title>toyou</title>

</head>
<body>
  <div id="wrap">
    <div class="whole">
    <!--로고랑 메뉴 바 -->
    <header id="header">

      <img id="logo" src="..\images\To.you.PNG">
      <nav id="nav">
			<a id="menu" href="#menu" >=</a>
			</nav>
    </header>

    <!--새로운 공지사항-->
    <div id="note" >
      <span><a "noteto"  >공지사항</a></span>
    </div>
    <!--사진 으로 대강 설명-->
    <div id="figure">

    <div id="pic1"></div>
    <div id="pic2"></div>
    <div id="pic3"></div>

    </div>
    <!--서비스 이용-->
    <div>
      <p><h4>서비스를 이용한 총 방문자 수</h4></p>
      <p id="notice"><span id="number" style="color:#FF8A65;">00 </span>명</p>
      <p><h4>만들어진 편지의 개수</h4></p>
      <p id="notice"><span style="color:#69F0AE;">00 </span>개</p>
    </div>
    <!--나만의 편지지 만들-->
    <div style="">
      <a id="goto" type="button" href="howtouse.html">나만의 편지지 만들기</a>
    </div>

    <!--카톡으로 보내진다-->
    <div style="">
      <h3><span style="color:#69F0AE">카카오톡</span>으로 <span id="circle">마음</span>을 전해보세요</h3>


      <img id="image" src="..\images\kakao_sample.jpg" ></img>
      <p>축하, 감사카드를 작성 후 카카오톡으로 보낼 수 있어요.가까운 사람에게 마음을 표현해 보세요.♡</p>


    </div>
    <!--구글 광고-->
    <div>

    </div>

    <footer id="footer">
      <h3 >개발자 정보</h3>
      <div id="foot">
      <div>이수경 </div> <div>권정희</div>
      </div>
    </footer>
  </div>

  </div>

</body>

</html>
