<!DOCTYPE HTML>

<html land="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=3,minimum-scale=1,user-scalable=no,viewport-fit=cover">
  <link rel="stylesheet" href="../asset/css/main.css" />


<title>toyou</title>


</head>
<body>
  <div id="wrap">
    <div class="whole">

      <header id="header">
      <img id="logo" src="..\images\To.you.PNG" >
      <nav id="nav">
							<a id="menu" href="#menu">=</a>
			</nav>
    </header>

    <div >
      <h3 id="name">나만의 효과 넣기</h3>
      <div id="writeform">

      </div>

    </div>

    <div id="choice">
      <button id="choicebtn">단색</button>
      <button id="choicebtn">배경</button>
      <button id="choicebtn">사진</button>

  </div>
  <div id="center">
    <button id="next_make2">미리보기</button>
   <button id="next_make2">전송하기</button>
  </div>


  </div>
</div>


</body>
</html>
