<!DOCTYPE HTML>

<html land="en">



<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=3,minimum-scale=1,user-scalable=no,viewport-fit=cover">
  <link rel="stylesheet" href="asset/css/main.css" />

  <title>toyou</title>

</head>
<body style="display: block;">
  <div id="wrap">
    <div class="whole">
    <!--로고랑 메뉴 바 -->
    <header style="display: flex;">
      <img src="..\images\To.you.PNG" style="size:auto; height:65px">
      <nav style="justify-content: flex-end; -webkit-flex-grow: 1;display: -webkit-flex;">
							<a href="#menu"  style="padding:10px 15px;font-weight: bold;font-size: 30px; text-decoration:none;">=</a>
			</nav>
    </header>

    <!--새로운 공지사항-->
    <div style="border-radius: 6px;background-color:#FF8A65; margin:2px" >
      <span><a style=" float:left; width:86.333%;margin:2px; margin-left:8px;" >공지사항</a></span>
    </div>
    <!--사진 으로 대강 설명-->
    <div id="figure" style="margin-left: auto; margin-right: auto;margin-top: auto;margin-bottom: auto;position: relative; width: 400px;height: 400px; /*left: 41px;top: 254px*/;">

    <div style="margin-left:15%; margin-top: 18%;position: absolute; width: 126.02px;    height:167.24px;    background: #D7CCC8;  transform: matrix(0.99, 0.15, -0.14, 0.99, 0, 0);    "></div>
    <div style="position: absolute;width: 125.96px;height: 167.32px;left: 150px;margin-left: 15%;    margin-top: 25%;
background: #D1C4E9;transform: matrix(1, -0.09, 0.08, 1, 0, 0);"></div>
    <div style="position: absolute;width: 125.93px;height: 167.36px; margin-left:30%; margin-top:40%; background: #B3E5FC;transform: matrix(1, 0.02, -0.02, 1, 0, 0);">  </div>

  </div>
    <!--서비스 이용-->
    <div style="" >
      <p><h4>서비스를 이용한 총 방문자 수</h4></p>
      <p style="justify-content: flex-end; -webkit-flex-grow: 1;display: -webkit-flex;font-size: 18px;
      font-weight: bold;"><span style="color:#FF8A65;font-size: 18px;
      font-weight: bold;">00 </span>명</p>
      <p><h4>만들어진 편지의 개수</h4></p>
      <p style="justify-content: flex-end; -webkit-flex-grow: 1;display: -webkit-flex;font-size: 18px;
      font-weight: bold;"><span style="color:#69F0AE;font-size: 18px;
      font-weight: bold;">00 </span>개</p>
    </div>
    <!--나만의 편지지 만들-->
    <div style="">
      <a type="button" href="howtouse.html"style="
      width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: #FF8A65;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    height: 58px;
    line-height: 58px;
    cursor: pointer;
     text-decoration:none;

    z-index: 100;
    ">나만의 편지지 만들기</a>
    </div>

    <!--카톡으로 보내진다-->
    <div style="">
      <h3><span style="color:#69F0AE">카카오톡</span>으로 <span style="
 width: 50px;
height: 40px;
left: 160px;
top: 962px;

background: #69F0AE;
border-radius: 150px;">마음</span>을 전해보세요</h3>


      <img src="..\images\kakao_sample.jpg" style="max-width: 414px; "></img>
      <p>축하, 감사카드를 작성 후 카카오톡으로 보낼 수 있어요.가까운 사람에게 마음을 표현해 보세요.♡</p>


    </div>
    <!--구글 광고-->
    <div>

    </div>

    <footer style="width:100%;background-color:#424242; color: white; padding-left: 10px;padding-bottom: 10px;">
      <h3 >개발자 정보</h3>
      <div style="flex-direction: column;vertical-align: baseline;width: calc(100% - 6em);">
      <div>이수경 </div> <div>권정희</div>
      </div>
    </footer>
  </div>

  </div>

</body>

</html>
